.contact-section {
  position: relative;
  width: 100%;
  height: 21.61vw;
  background: rgba(28, 76, 51, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.contact-title {
  font-family: "Days", sans-serif;
  font-weight: 400;
  font-size: 3.12vw;
  line-height: normal;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 0.5vw;
  margin-left: 7vw;
}

.contact-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 1.56vw;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 2vw;
  margin-left: 7.3vw;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vw;
  margin-left: 7vw;
}

.contact-inputs {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.input-wrapper {
  position: relative;
  width: 21.87vw;
  max-width: 100%;
}

.contact-input {
  box-sizing: border-box;
  width: 100%;
  height: 3.07vw;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 3.54vw 0 rgba(255, 255, 255, 0.05) inset,
    0 0.2vw 0.2vw 0 rgba(255, 255, 255, 0.15) inset;
  border: none;
  border-radius: 1.3vw;
  padding-left: 1vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: normal;
  color: rgba(255, 255, 255, 1);
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

.contact-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0.5vw;
  left: 5%;
  right: 5%;
  height: 0.03vw;
  background: rgba(255, 255, 255, 0.5);
}

.submit-btn {
  padding: 1vw 2vw;
  background: transparent;
  color: rgba(255, 255, 255, 1);
  font-family: "Days", sans-serif;
  font-weight: 400;
  font-size: 2vw;
  line-height: normal;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease-in-out;
  --borderW: 5%;
  --borderH: 20%;
  --borderSize: 0.1vw;
  background-image: linear-gradient(
      rgba(255, 255, 255, 1) var(--borderH),
      transparent var(--borderH),
      transparent calc(100% - var(--borderH)),
      rgba(255, 255, 255, 1) calc(100% - var(--borderH))
    ),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) var(--borderW),
      transparent var(--borderW),
      transparent calc(100% - var(--borderW)),
      rgba(255, 255, 255, 1) calc(100% - var(--borderW))
    ),
    linear-gradient(
      rgba(255, 255, 255, 1) var(--borderH),
      transparent var(--borderH),
      transparent calc(100% - var(--borderH)),
      rgba(255, 255, 255, 1) calc(100% - var(--borderH))
    ),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) var(--borderW),
      transparent var(--borderW),
      transparent calc(100% - var(--borderW)),
      rgba(255, 255, 255, 1) calc(100% - var(--borderW))
    );
  background-size: var(--borderSize) 100%, 100% var(--borderSize),
    var(--borderSize) 100%, 100% var(--borderSize);
  background-position: 0 0, 0 0, 100% 100%, 100% 100%;
  background-repeat: no-repeat;
}

.submit-btn:hover {
  transform: scale(1.1);
}
