.footer-section {
  position: relative;
  width: 100%;
  height: 21.61vw;
  background: rgba(28, 76, 51, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7vw;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-left {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.footer-title {
  font-family: "Days", sans-serif;
  font-weight: 400;
  font-size: 3.12vw;
  line-height: normal;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 1.5vw;
}

.tg-wrapper {
  margin-bottom: 2.5vw;
}

.qr-codes {
  display: flex;
  gap: 2vw;
  margin-bottom: 1vw;
}

.qr-code-item {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.qr-code {
  width: 8.38vw;
  aspect-ratio: 1;
}

.tg-link {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  text-decoration: none;
}

.social-icon-wrapper {
  width: 2.5vw;
  aspect-ratio: 1;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2.5vw);
  box-shadow: 0 0 1.56vw 0 rgba(255, 255, 255, 0.15) inset,
    0 0.1vw 0.1vw 0 rgba(255, 255, 255, 0.15) inset;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.social-icon-wrapper:hover {
  transform: scale(1.1);
}

.social-icon {
  width: 1.5vw;
  aspect-ratio: 1;
}

.tg-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 1.56vw;
  color: rgba(255, 255, 255, 1);
  margin-top: 0.5vw;
}

.footer-email-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.email-icon {
  width: 2.65vw;
  aspect-ratio: 1;
}

.footer-email {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 1.56vw;
  text-decoration: underline;
  color: rgba(255, 255, 255, 1);
}

.footer-image {
  position: relative;
  z-index: 0;
}

.contacts-bg {
  position: absolute;
  bottom: -10.77vw;
  right: 0;
  width: 26.5vw;
  height: auto;
}
